@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 10pt;*/
  /*height: 100%;*/
	color: #333;
	line-height: 1.5;
}
html {
  height: 100%;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
  height: 100%;
  font-size: 1em;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 10pt;*/
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1em;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
header {
  height: 10%;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
.restaurantmaincontent {
  position: relative; 
  top: 14vh
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.75em;
  /*font-size: 8pt;*/
  letter-spacing: 1px;
  padding: 3%;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  /*height: 80px;*/
  height: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
nav h1 a {
  color: #fff;
  /*font-size: 14pt;*/
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 0.5em 1em 0.5em;
    list-style: none;
    background-color: #eee;
    font-size: 1em;
    /*font-size: 17px;*/
    margin: 0;
    width: 100%;
    /*width: calc(50% - 80px);*/
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  /*height: 400px;*/
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 5vh;
  /*height: 50px;*/
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  /*font-size: 1rem;*/
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1;
  margin: 0 1%;
  display: inline-block;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.25em;
  /*font-size: 11pt;*/
  /*height: 35px;*/
  letter-spacing: 0;
  margin: 0.5vh;
  padding: 0 1%;
  height: 4vh;
  width: 29%;
  /*width: 200px;*/
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  padding: 2% 1% 3%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  /*margin: 15px;*/
  margin: 2%;
  /*min-height: 380px;*/
  /*padding: 0 30px 25px;*/
  padding: 0 2% 1%;  
  text-align: left;
  width: 100%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /*min-height: 248px;*/
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.25em;
  /*font-size: 14pt;*/
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.25em;
  /*font-size: 11pt;*/
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  /*font-size: 10pt;*/
  font-size: 1em;
  margin: 1em 0 0;
  padding: 0.5em 1.5em 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#map-container {
  height: 45vh;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
/*  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;*/
  height: 45vh;
  position: relative;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  /*bottom: 0;*/
  /*position: absolute;*/
  /*width: 50%;*/
  position: relative;
  top: 14vh;
  /*width: 100%;*/
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  /*font-size: 20pt;*/
  font-weight: 200;
  letter-spacing: 0;
  margin: 1em 0 1.5em;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  /*font-size: 12pt;*/
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  /*font-size: 12pt;*/
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 0.5em;
  margin: 0 0 1em;
  padding: 0.5% 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  /*padding: 140px 40px 30px;*/
  padding: 5% 10%;
  /*width: 50%;*/
}
#reviews-container {
  padding: 5% 10% 5%;
}
#reviews-container h2 {
  color: #f58500;
  /*font-size: 24pt;*/
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 2em;
  overflow: hidden;
  padding: 1% 2% 2%;
  position: relative;
  width: 96%;
}
#reviews-list li p {
  margin: 0 0 0.75em;
}
#restaurant-hours td {
  color: #666;
}

@media (min-width: 768px) {
  body {
    font-size: 0.85em;
  }
  #restaurants-list li {
    width: 37%;
    margin: 1% calc(16%/4);    
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 0.7em;
  }
  #restaurants-list li {
    width: 23%;
    margin: 1% calc(17%/6);
  }
  #restaurant-address {
    font-size: 1.25em;
  }
  #restaurant-hours {
    font-size: 1.25em;
  }
  #reviews-list {
    font-size: 1.25em;
  }
  #breadcrumb {
    font-size: 1.25em;
  }
  .filter-options select {
    font-size: 1.25em !important;
  }  
}

@media (orientation: landscape) {
  .filter-options {
    height: 6vh;
  }
  .filter-options select {
    height: 5vh;
    font-size: 1em;
  }
  #map-container {
    height: 50vh;
  }
  .filter-options h2 {
    font-size: 1.2em;
  }
}